nav {
  a {
    margin: 10px;
    padding: 10px;
    // display: inline; default value
    display: inline-block;
    color: white;
    text-decoration: none;

    &:hover {
      background-color: #FFDE00;
      color: #000;
      font-weight: bold;
    }
  }
}

.right {
  float: right;
}
